.error-display-404 {
    margin-bottom: 40px;
    font-size: 100px;
}
.error-message-btn {
    font-size: 16px;
    margin-top: 50px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 0, 139);
    transition: 0.3s ease;
}
.error-message-btn:hover {
    background-color: rgb(0, 0, 180);
}